.teams-container{
    background: #eff4f7;
    height: 100%;
    width: 85%;
    position: relative;
}

.teampage-container{
    min-width: 20rem;
    font-size: .875rem;
    padding-left: 1.25rem;
    
    min-width: 39.625rem;
    font-family: Roboto,sans-serif;
    font-size: .875rem;
    padding: 0 1.25rem;
}

.teampage-header{
    display: inline-block;
    margin-bottom: 0;
    line-height: 100px;
    font-size: 1.5rem;
    color: #999;
}

.page__container__add-new{
    float: right;
    display: inline-block;
    width: 31.875rem;
    vertical-align: middle;
    line-height: 6.25rem;
    font-size: 0; 
    position: relative;
    top: 22px;
}

.page__container__add-new--input{
    display: inline-block;
    margin: 0;
    width: 70%;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    border-top-left-radius: .125rem;
    border-bottom-left-radius: .125rem;
    color: #333;
    font-size: .875rem;
    padding: .5rem;
    border: 1px solid #cacaca;
    border-radius: 0;
    background-color: #fefefe;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: 400;
}

.page__container__add-new--button{
    background-color: #8bc34a;
    width: 9.3125rem;
    height: 2.4375rem;
    border-top-right-radius: .125rem;
    border-bottom-right-radius: .125rem;
    font-family: Roboto,sans-serif;
    text-transform: uppercase;
    color: #fefefe;
    font-size: .875rem;
    border: none;
    position: relative;
}
.tap-bigcontainer{
    height: 10%;
    position: relative;
    width: 100%;
    top: 20px;
    color: #666;

}

/** tabs */


  
  .react-tabs__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px;
    padding: 0;
    width: 95%;
    height: 53px;
    color: black;
  }
  
  .react-tabs__tab {
    bottom: -1px;
    list-style: none;
    cursor: pointer;
    background-color: #e4eaee;
    color: #666;
    text-transform: uppercase;
    font-family: Roboto,sans-serif;
    display: inline-block;
    position: relative;
    border: 1px solid #c6d2d9;
    border-bottom: none;
    height: 3.1875rem;
    width: 6.75rem;
    text-align: center;
    margin-right: 4px;

  }
  
  .react-tabs__tab span{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    top: 15px;
  }
  .react-tabs__tab:hover{
    background: #fff;
  }

  .react-tabs__tab--selected {
    background: #fff;
    border-color: #aaa;
    color: black;
    border-radius: 5px 5px 0 0;
  }
  
 
  
  .react-tabs__tab:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none;
  }
  
  .react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
  }
  
  .react-tabs__tab-panel {
    display: none;
   
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
    height: 28.75rem;
    border: 1px solid #c6d2d9;
    border-bottom: 3px solid #c6d2d9;
    background-color: #fefefe;
    position: relative;
    bottom: 10px;
    width: 95%;
  }
  



.headername{
    position: relative;
}

.nameclass{
    position: relative;
    left: 48px;
}

.tdemail span{
    position: relative;
    background: yellow;
    left: 200px;
}

.inputrateclass{
    box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    display: inline-block;
    width: 50px;
    height: 35px;
    vertical-align: middle;
    font-size: 16px;
    margin: 0 10px 0 0;
    border-radius: .125rem;
    box-sizing: border-box;
    padding: .5rem;
    border: 1px solid #cacaca;
    background-color: #fefefe;
    font-weight: 400;
    color: #0a0a0a;
    transition: box-shadow .5s,border-color .25s ease-in-out,-webkit-box-shadow .5s;
}

.teampage__content--header{
    display: inline-flex;
    flex-direction: row;
    width: 96%;
    background: #E4EAEE;
    justify-content: space-between;
    line-height: 3.75rem;
    max-height: 4.6875rem;
    min-height: 4.6875rem;
    border: 1px solid #c6d2d9;
    border-top-left-radius: .125rem;
    font-size: .875rem;
    position: relative;
    left: 20px;
    top: 50px;
}


.teampage__item{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    width: 96%;
    border-bottom: 1px solid #c6d2d9;
    line-height: 3.75rem;
    background: white;
    margin-top: 10px;
    left: 20px;
    top: 30px;
    flex-direction: row;
    justify-content: space-between;
}

.teampage__item span{
    font-size: .975rem;
}

.headername-tag{
    position: relative;
    left: 25px;
}
.hourlyheader{
    position: relative;
    right: 70px;
}

.teampage__item--name{
    margin-left: 1.25rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}

.teampage_item_header_div{
    position: relative;
}

.teampage_item_header_div i {
    position: relative;
    font-size: 21px;
    top: 2px;
    left: 5px;
    
}

.inputhourlydiv{
    position: relative;
    right: 50px;
}


.inputhourlyrate{
    box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    display: inline-block;
    width: 50px;
    height: 35px;
    vertical-align: middle;
    font-size: 16px;
    margin: 0 10px 0 0;
    border-radius: .125rem;
    transition: box-shadow .5s,border-color .25s ease-in-out,-webkit-box-shadow .5s;
    font-weight: 400;
    color: #0a0a0a;
    font-family: inherit;
    padding: .5rem;
    border: 1px solid #cacaca;
    background-color: #fefefe;
    box-sizing: border-box;

}